<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css'%}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--nav bar-->

    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-light active" aria-current="page" href="{%url 'task-list'%}" style="font-weight: bold;">Home</a>
              </li>
              <li class="nav-item">
                <a href="{%url 'task-summary'%}" class="nav-link text-light" style="font-weight: bold;">Dashboard</a>
              </li>
              <li class="nav-item">
                <a href="{%url 'task-add'%}" class="nav-link text-light" style="font-weight: bold;">Add</a>
              </li>
            </ul>
            <form class="d-flex" role="search" action="{%url 'task-list'%}">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_text">
            </form>
              <a href="{%url 'signout'%}" class="btn btn-light mx-3"style="width: auto;height:50px">Logout</a>
          </div>
        </div>
      </nav>

    <!--end navbar-->

    {%if messages%}
    {%for m in messages%}
        {{m}}
    {%endfor%}
{%endif%}

    {%block main_block%}

    {%endblock%}
</body>
{%block script_block%}

{%endblock%}
</html>