{%extends 'base.html'%}

{%block main_block%}


<div class="container my-3">
    <div class="w-50 mx-auto">
        <form action="">
            <select name="category" id="" class="form-select" onchange="this.form.submit()">
                <option value="all" {%if selected == 'all' %} selected {%endif%}>all</option>
                <option value="personal"{%if selected == 'personal'%} selected {%endif%}>personal</option>
                <option value="business"{%if selected == 'business'%} selected {%endif%}>business</option>
            </select>
            
        </form>
        <br>
        <form action="">
            <input type="text" placeholder="enter key word" name="search_text">
            <button type="submit">search</button>
        </form>
    </div>
</div>
<h1>Welcome {{request.user}}</h1>
<div class="container mt-5">
    <div class="row">
        {%for t in tasks%}
        <div class="col-4">

            <div class="card text-bg-dark mb-3" style="max-width: 18rem;">
                <div class="card-header d-flex justify-content-between">
                    <div>{{t.user}} </div>
                    <div>{{t.status}}</div>
                    <div>
                        {%if t.status == 'pending'%}
                        <div class="spinner-grow text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>      
                        {%endif%}

                        {%if t.status == 'in-progress'%}
                        <div class="spinner-grow text-warning" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                        {%endif%}

                        {%if t.status == 'done'%}
                        <div class="spinner-grow text-success" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>          
                        {%endif%}


                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{t.title}}</h5>
                    <p class="card-text">{{t.description}}</p>
                </div>
                <div class="card-footer text-body-white">
                    created_date:{{t.created_date|date}}
                    due_date:{{t.due_date|date}}
                    <br>
                    last update:{{t.updated_date|date}}

                    <a href="{%url 'task-update' t.id %}">View</a>
                    <a href="{%url 'task-delete' t.id%}">Delete</a>
                </div>

            </div>
        </div>
        {%endfor%}
    </div>

{%endblock%}