{%extends 'base.html'%}

{%block main_block%}

{%load static%}

<div class="container" style="margin-left: 300px;"> 
    
    <div class="card mb-3 " style="max-width: 70%;">
        <div class="row">
          
          <div class="col-10">
            <div class="card-body">
                <form action="" method="POST">
                    <h1 class="text-center">Task Form</h1>
                    {%csrf_token%}
                    {{form}}
                    <br>
    
                    <button type="submit" class="btn btn-primary" style="width: 10rem;">Add</button>
                </form>     
            </div>
          </div>
        </div>
      </div>
    
            
</div>
{%endblock%}